<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">

    <title>FastoGT</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images -->
    <link rel="icon" href="../static/img/favicon.ico">
    <!--<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">-->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#234D64">

    <!-- Fonts -->
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <!-- Style -->
    <link rel="stylesheet" href="../static/libs/reboot.min.css">
    <link rel="stylesheet" href="../static/libs/hamburgers.css">
    <link rel="stylesheet" href="../static/libs/slick-carousel/slick.css">
    <link rel="stylesheet" href="../static/css/main.css">

</head>

<body>

    <!-- ================================================================ preloader -->
    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce-1"></div>
            <div class="sk-child sk-double-bounce-2"></div>
        </div>
    </div>

    <!-- ================================================================ header -->
    <header class="header">
        <div class="header__inner">
            <a href="index.html" class="logo">
                Тест переключения
            </a>
            <nav class="nav trans">
                <ul class="menu" id="menu">
                    <li><a class="menu__link" href="#services">Services</a></li>
                    <li><a class="menu__link" href="#advantages">Advantages</a></li>
                    <li><a class="menu__link" href="#projects">Projects</a></li>
                    <li><a class="menu__link" href="#team">Team</a></li>
                    <li><a class="menu__link" href="#contact">Contact</a></li>
                    <li class="lang">
                        <div class="lang__switch lang__switch_rus"></div>
                        <span class="lang__span">eng</span>
                        <span class="lang__span lang__span_rus lang__span_selected">rus</span>
                    </li>
                </ul>
                <div class="hamburger hamburger--spin">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- ================================================================ promo -->
    <section class="wrap wrap_bg wrap_height-900">
        <div class="inner">
            <div class="promo-box">
                <div class="promo-box__content">
                    <h1 class="promo-box__h1">FastoGT - Software Development</h1>
                    <p class="promo-box__p">Welcome, we are glad to see You! We design, develop, and support complex IT
                        products based on different technologies. Team "Great Technology" works especially for you!</p>
                </div>
            </div>
            <div class="promo-icon">
                <span class="icon-rocket"></span>
            </div>
        </div>
    </section>

    <!-- ================================================================ services -->
    <section id="services" class="wrap wrap_padding-top_130">
        <div class="inner">
            <div class="heading">
                <h2 class="heading__h2">What can we do</h2>
                <div class="heading__separator"></div>
                <p class="heading__p">We provide services for the development of a full cycle of software for your
                    business. Today IT is not a luxury but the basis of a stable, successful and effective work. </p>
            </div>
            <div class="services">
                <div class="services__item">
                    <div class="services__icon">
                        <img src="../static/img/icon/sites.svg" alt="sites">
                    </div>
                    <h3 class="h3 services__h3">Services of sites development</h3>
                    <p class="services__p">We provide services for the development of a full cycle of software for your
                        business. Today IT is not a luxury but the basis of a stable, successful and effective work.
                    </p>
                </div>

                <div class="services__item">
                    <div class="services__icon">
                        <img src="../static/img/icon/software.svg" alt="sites">
                    </div>
                    <h3 class="h3 services__h3">Services for the development of system software</h3>
                    <p class="services__p">Development and integration of software products to solve Your business
                        problems.</p>
                </div>

                <div class="services__item">
                    <div class="services__icon">
                        <img src="../static/img/icon/mobile.svg" alt="sites">
                    </div>
                    <h3 class="h3 services__h3">Services for mobile application development</h3>
                    <p class="services__p">Applications for mobile devices are now part of everyday life of most
                        people, so can be useful like other IT solutions.</p>
                </div>

                <div class="services__item">
                    <div class="services__icon">
                        <img src="../static/img/icon/promotion.svg" alt="sites">
                    </div>
                    <h3 class="h3 services__h3">Comprehensive services for the promotion of Your ideas</h3>
                    <p class="services__p">"Save money on advertising — it's like that to stop the clock, trying to
                        save time." Henry Ford.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ================================================================ scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        window.JQuery || document.write("<script src='../static/libs/jquery.min.js'><\/script>")
    </script>
    <script src="../static/libs/slick-carousel/slick.min.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>